<section class="auth-container">
   <h2>Crear Cuenta</h2>
      <p>EstudiaPues</p>
      <br>
      
      <form id="register-form">
        <div class="form-group">
          <label>Nombre Completo</label>
          <input type="text" id="reg-name" placeholder="Tu nombre" required>
        </div>

        <div class="form-group">
          <label>Correo Electrónico</label>
          <input type="email" id="reg-email" placeholder="correo@ejemplo.com" required>
        </div>

        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" id="reg-password" placeholder="Mínimo 6 caracteres" required>
        </div>

        <button id="btn-register" type="submit" class="btn-primary">Registrarse</button>
      </form>

      <div class="auth-footer">
        ¿Ya tienes cuenta? <button id="btn-to-login" class="btn-link">Inicia sesión</button>
      </div>
</section>