

.role-selection {
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  gap: 20px;
  margin-top: 10px;
  padding: 5px 0;
}

.role-option {
  display: flex;
 
  align-items: center;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--dark);
}


.role-option input {
  display: none;
}


.custom-radio {
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;
}


.role-option input:checked + .custom-radio {
  border-color: var(--primary);
}


.role-option input:checked + .custom-radio::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.role-option:hover .custom-radio {
  border-color: var(--primary);
  opacity: 0.8;
}